/* You can add global styles to this file, and also import other style files */

$principal: #000000;

html,body{
    background-color: $principal;
}

.cardsMovies{
    top: unset;
}


/* hide scrollbar but allow scrolling */
body {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

body::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
body::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}